﻿@model Nikita.Controllers.ToursIndexModel
@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm("SearchTours",null,new AjaxOptions { UpdateTargetId = "results" }, new { @class = "form-horizontal" }))
{
    <div class="row">

            <div class="form-group">
                <label  class="col-md-2">Страны</label>
                <div class="col-md-10">
                    <select class="form-control" name="countries" id="countries" multiple>
                        @foreach (var county in Model.AvailableCountries)
                        {
                            <option value="@county">@county</option>
                        }
                    </select>
                </div>
            </div>
 
       
            <div class="form-group">
                <label class="col-md-2">Категории</label>
                <div class="col-md-10">
                    <select class="form-control" name="categories" id="categories" multiple>
                        @foreach (var category in Model.AvailableCategories)
                        {
                            <option value="@category">@category</option>
                        }
                    </select>
                </div>
            </div>
 
   

            <div class="form-group">
                <label class="col-md-2">Вылет из</label>
                <div class="col-md-10">
                    <select class="form-control" name="flies" id="flies" multiple>
                        @foreach (var fly in Model.AvailableFlies)
                        {
                            <option value="@fly">@fly</option>
                        }
                    </select>
                </div>
            </div>
  
            <div class="form-group">
                <label class="col-md-2">Название отеля</label>
                <div class="col-md-10">
                    <input name="hotel" id="hotel" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Дата начала</label>
                <div class="col-md-10">
                    <input type="date" name="startDate" id="startDate" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Дата Конца</label>
                <div class="col-md-10">
                    <input type="date" name="finishDate" id="finishDate" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Минимальная цена</label>
                <div class="col-md-10">
                    <input type="number" name="minPrice" id="minPrice" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Максимальная цена</label>
                <div class="col-md-10">
                    <input type="number" name="maxPrice" id="maxPrice" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Мест для взрослых </label>
                <div class="col-md-10">
                    <input type="number" name="numberPlacesForOld" id="numberPlacesForOld" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Мест для детей </label>
                <div class="col-md-10">
                    <input type="number" name="numberPlacesForChildren" id="numberPlacesForChildren" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Питание</label>
                <div class="col-md-10">
                    <select class="form-control" name="food" id="food" multiple>
                        @foreach (var food in Model.AvailableFood)
                        {
                            <option value="@food">@food</option>
                        }
                    </select>
                </div>
            </div>
    
    <div class="form-group text-center">
        <button class="btn btn-success" type="submit" >Найти</button>
        </div>
       
    </div>
}
<div id="results"></div>

@section Scripts{
    <script>
        $(function () {
            $("select").select2();
        })
    </script>
}