﻿@model IEnumerable<DAL.Tour>

@if (!ViewContext.ViewData.ModelState.IsValid)
{
   @Html.ValidationSummary()
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPlacesForOld)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPlacesForChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price),$
            </th>
            <th>
              
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fly)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberPlacesForOld)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberPlacesForChildren)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("AddTourToUser","Home",new {tourId=item.Id})">Забронировать</a>
                </td>
            </tr>
        }

    </table>
}